<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center ;
    padding: 1px;
    font-size: 12px ; 
    width: 75px ; 
}

.adress {
    width: 110px ; 
}

.email {
    width: 120px ; 
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<br/><br/>
<img src="http://www.alsacreations.com/xmedia/doc/original/body-tshirt.png" />
<br/>
    <h1>Generateur de Facture</h1><br/>
    <h2>Drupal 8 API </h2>
    
<table>
  <tr>
            <th>{{ 'frstName' | upper }}</th>
            <th>{{ 'lastName' | upper }}</th>
            <th>{{ 'naissance' | upper  }}</th>
            <th>{{ 'email' | upper }}</th>
            <th>{{ 'adress' | upper }}</th>
            <th>{{ 'pays' | upper }}</th>
            <th>{{ 'codePostale' | upper }}</th>
            <th>{{ 'Expiration' | upper }}</th>
  </tr>
 <tr>
    <td>{{ frstName }}</td>
    <td>{{ lastName }}</td>
    <td>{{ datenaissance }}</td>
    <td class="email">{{ email }}</td>
    <td class="adress">{{ adress }}</td>
    <td>{{ pays  }}</td>
    <td>{{ codePostale }}</td>
    <td>{{ dateExpiration }}</td>
</tr>

</table>

<br/>

 Bonjour Nadir FOUKA - Merci d'avoir effectué un achat sans être inscrit sur xxx. Nous vous préviendrons lorsque votre commande sera envoyée à l'adresse suivante : 5 rue marius blanchet.
Payé : 32,90 EUR par Carte de crédit

Rapide et gratuit.
Connectez en tant qu'utilisateur non inscrit avec l'adresse e-mail nadir.fouka@gmail.com et le code d'accès QGFQ9MT0 pour consulter les détails de votre commande. 





</body>
</html>
