<div ng-app="myApp2" ng-controller="customersCtrl2" id="s3_container2">
    <pre>Sorting predicate = {%verbatim%}{{predicate}}{%endverbatim%}; reverse = {%verbatim%}{{reverse}}{%endverbatim%}</pre>
    <hr/>
    [ <a href="" ng-click="predicate=''">unsorted</a> ]
    <table class="friend">
      <tr>
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">name</a></th>
        <th><a href="" ng-click="predicate = 'Code_commune_INSEE'; reverse=!reverse">Code_commune_INSEE</a></th>
        <th><a href="" ng-click="predicate = 'Code_postal'; reverse=!reverse">Code_postal</a></th>
        <th><a href="" ng-click="predicate = 'Libelle_acheminement'; reverse=!reverse">Libelle_acheminement</a></th>
      <tr>
      <tr ng-repeat="x in myData | orderBy:predicate:reverse">
        <td>{%verbatim%}{{x.name}}{%endverbatim%}</td>
        <td>{%verbatim%}{{x.Code_commune_INSEE}}{%endverbatim%}</td>
          <td>{%verbatim%}{{x.Code_postal}}{%endverbatim%}</td>
        <td>{%verbatim%}{{x.Libelle_acheminement}}{%endverbatim%}</td>
      <tr>
    </table>
  </div>
