

<div ng-app="myApp2" ng-controller="customersCtrl2" id="s3_container2">
    <pre>Sorting predicate = {%verbatim%}{{predicate}}{%endverbatim%}; reverse = {%verbatim%}{{reverse}}{%endverbatim%}</pre>
    <hr/>
    [ <a href="" ng-click="predicate=''">unsorted</a> ]
    <table class="friend">
      <tr>
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">name</a></th>
        <th><a href="" ng-click="predicate = 'Code_commune_INSEE'; reverse=!reverse">Code_commune_INSEE</a></th>
        <th><a href="" ng-click="predicate = 'Code_postal'; reverse=!reverse">Code_postal</a></th>
        <th><a href="" ng-click="predicate = 'Libelle_acheminement'; reverse=!reverse">Libelle_acheminement</a></th>
      <tr>
      <tr ng-repeat="x in myData | orderBy:predicate:reverse">
        <td>{%verbatim%}{{x.name}}{%endverbatim%}</td>
        <td>{%verbatim%}{{x.Code_commune_INSEE}}{%endverbatim%}</td>
          <td>{%verbatim%}{{x.Code_postal}}{%endverbatim%}</td>
        <td>{%verbatim%}{{x.Libelle_acheminement}}{%endverbatim%}</td>
      <tr>
    </table>
  </div>

     





<div ng-controller="appController" ng-app="app" id="s3_container1981">

    <h1>This is my {%verbatim%}{{title}}{%endverbatim%}</h1>
    <table class="table table-striped">
        <thead>
            <td data-ng-click="sortType = name; sortReverse = !sortReverse;">
                Date
            </td>
            <td data-ng-click="sortType = name; sortReverse = !sortReverse;">
                Name
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="item in allItems | orderBy:sortType:sortReverse">
                <td>{%verbatim%}{{item.date | date:"yyyy-MM-dd"}}{%endverbatim%}</td>
                <td>{%verbatim%}{{item.name}}{%endverbatim%}</td>
            </tr>
        </tbody>
    </table>

</div>



<div ng-controller="PaginationController" ng-app="paginationModule" id="s3_container9">
<h3>List students</h3>  
     <div class="container-fluid">  
       <pre>Click header link to sort, input into filter text to filter</pre>  
       <hr />  
       <table class="table table-striped">  
         <thead>  
           <tr>  
             <th>Edit</th>  
             <th>  
               <a href="" ng-click="order('name')">Name</a>  
             </th>  
             <th><a href="" ng-click="order('age')"> Age</a> </th>  
             <th><a href="" ng-click="order('gender')">Gender</a> </th>  
           </tr>  
         </thead>  
         <tbody>  
           <tr>  
             <td>Filter</td>  
             <td> <input type="text" ng-model="search.name" /></td>  
             <td> <input type="text" ng-model="search.age" /> </td>  
             <td><input type="text" ng-model="search.gender" /> </td>  
           </tr>  
           <tr ng-repeat="user in students | orderBy:predicate:reverse | filter:paginate| filter:search" ng-class-odd="'odd'">  
             <td>  
               <button class="btn">  
                 Edit  
               </button>  
             </td>  
             <td>{%verbatim%}{{ user.name}}{%endverbatim%}</td>  
             <td>{%verbatim%}{{ user.age}}{%endverbatim%}</td>  
             <td>{%verbatim%}{{ user.gender}}{%endverbatim%}</td>  
           </tr>  
         </tbody>  
       </table>  
           
       <pagination total-items="totalItems" ng-model="currentPage"  
             max-size="10" boundary-links="true"  
             items-per-page="numPerPage" class="pagination-sm">  
       </pagination>  
     </div>  
</div>

           

           
          

<div class="container" ng-app="sortApp" ng-controller="mainController" id="mainControllerSorter">
  
  <div class="alert alert-info">
    <p>Sort Type: {%verbatim%}{{ sortType }}{%endverbatim%}</p>
    <p>Sort Reverse: {%verbatim%}{{ sortReverse }}{%endverbatim%}</p>
    <p>Search Query: {%verbatim%}{{ searchFish }}{%endverbatim%}</p>
  </div>
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Sushi Roll 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          Fish Type 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          Taste Level 
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td>{%verbatim%}{{ roll.name }}{%endverbatim%}</td>
        <td>{%verbatim%}{{ roll.fish }}{%endverbatim%}</td>
        <td>{%verbatim%}{{ roll.tastiness }}{%endverbatim%}</td>
      </tr>
    </tbody>
    
  </table>
  
  <p class="text-center text-muted">
    <a href="#" target="_blank">Read the Tutorial</a>
  </p>
  
  <p class="text-center">
    by <a href="http://scotch.io" target="_blank">scotch.io</a>
  </p>
  
</div>


      

      
      
      
      
      
      
      
      
      
      
      
      
      
      
<div ng-controller="mainController" id='popup'>
    <script type="text/ng-template" id="myModalContent.html">
        <!-- template for modal -->
            <div class="modal-header">
                <h3 class="modal-title">Choose your products!</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="checkbox" ng-repeat="item in products">
                        <label> 
                            <input type="checkbox" ng-click="chkChange(item)" ng-checked="selected.indexOf(item) !== -1"/>
                            {%verbatim%}{{item}}{%endverbatim%}
                        </label>
                    </div>    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    
    <table class="table">
        <tr>
            <th>User name</th>
            <th>products selected</th>
        </tr>
        <tr ng-repeat="user in userData">
            <td>{%verbatim%}{{user.name}}{%endverbatim%}</td>
            <td><button ng-click="changeProducts(user)">{%verbatim%}{{( user.selectedProducts | array ) || 'nothing selected!' }}{%endverbatim%}</button></td>
        </tr> 
    </table>
</div>
      
      
      
     